@font-face {
    font-family: "Inter-Bold";
    src: url(../font/inter/Inter-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Inter-Regular";
    src: url(../font/inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inter-Medium";
    src: url(../font/inter/Inter-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/inter/Inter-Regular.ttf) format("truetype");
}